*{
	box-sizing: border-box;
}

html, 
body {
	padding: 0;
  	margin: 0;
}

body{
	color: white;
	background: black url("image/back.jpg") no-repeat center top;

	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}

.container{
	width: 1330px;
	margin: 0 auto;
}

.article-foto{
  box-shadow: -30px -30px 0px 0px #363638;
  width: 338px;
  height: 236px;
}

.aboutme,
.contact{
	width: 1302px;
	min-height: 558px;
	background-color: #373737;
	position: relative;
}

.aboutme{
	margin-top: 1000px;
}

.contact{
	margin-top: 190px;
}

.aboutme-content{
	width: 480px;
	padding-left: 70px;
	padding-top: 60px;
	
}

.contact-content{
	width: 480px;
	margin-left: 50%;
	padding-left: 110px; 
	padding-top: 60px;
}

.content-title {
	color: #ad7835;
	font-weight: 400;
	position: relative;
	font-family: 'Droid Serif';
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 60px;
	line-height: 81.29px;
}

.content-title::after{
   	content: "";
	display: block;
	background-color: #ad7835;
  	position: absolute;
 	width: 91px;
 	height: 3px;
}

.article-title {
	color: #ad7835;
	font-weight: 400;
	position: relative;
	font-family: 'Droid Serif';
	font-size: 20px;
	line-height: 28px;
	padding-bottom: 10px;
}

.article-title::after{
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  background-color: #ad7835;
  height: 1px;
  width: 100%;
 }

.content-text{
	margin-top: 30px;
}

.btn{
 	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #ad7835;
	background-color: #373737;

	font-size: 16px;
	line-height: 28px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #ad7835;
	padding: 15px 45px;

	text-transform: uppercase;
	text-decoration: none; 
}

.btn:hover,
.btn:active{
	background-color: #494949;
}

.aboutme .btn{
	margin-top: 30px;
}

.contact .btn{
	margin-top: 70px;
}

.aboutme-foto,
.contact-foto{
	position: absolute;
	top: -50px;
	right: 70px;
	height: 658px;
	width: 588px;
}

.contact-foto{
	left: 70px;
}

.title-center{
	width: 370px;
	margin-left: auto;
	margin-right: auto;
}

.latest-article{
	margin-top: 240px;
	margin-left: auto;
	margin-right: auto;
}

.link{
	font-size: 16px;
	line-height: 28px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #ad7835;
	text-transform: uppercase;
	text-decoration: none; 
}

.article-view{
	float: left;
	width: 370px;
	margin-right: 100px; 
	margin-top: 90px;
}

.article-view:nth-child(3){
	margin-top: 180px;
}


.article-view:last-child{
	margin-right: 0;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.gallery{
	margin-top: 230px;
}





